# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media and static files (optional - if managed elsewhere)
media/
staticfiles/

# dotenv environment variables
.env

# Pytest
.cache/
.pytest_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.noseids
coverage.xml
*.cover
*.py,cover
.hypothesis/

# VS Code settings
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm
.idea/

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pipenv
Pipfile.lock

# Virtual environment
venv/
ENV/
env/
.venv/
snapshot/
